* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

/* navabar  */

header {
  background-color: rgb(223, 230, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: auto;
  padding: 2%;
  border-bottom: solid 0.1px gray;
}

.navbar1 {
  display: flex;
  justify-content: flex-start;
}

.navbar2 {
  display: flex;
  justify-content: flex-end;
}

.navbar2 a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navbar1 img:hover, .navbar2 a:hover {
  transform: scale(1.1);
}

.navbar2 a {
  margin-right: 3.3rem;
}

.drop_menu {
  display: none;
}

@media (max-width: 580px) {
  .navbar1 {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }

  .navbar2 {
    display: none;
  }

  .drop_menu {
    display: flex;
    flex-direction: column;
  }
}

/* product  */

