* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

/* navabar  */

header {
  background-color: rgb(223, 230, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: auto;
  padding: 2%;
  border-bottom: solid 0.1px gray;
}

.navbar1 {
  display: flex;
  justify-content: flex-start;
}

.navbar2 {
  display: flex;
  justify-content: flex-end;
}

.navbar2 a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navbar1 img:hover, .navbar2 a:hover {
  transform: scale(1.1);
}

.navbar2 a {
  margin-right: 3.3rem;
}

.drop_menu {
  display: none;
}

@media (max-width: 580px) {
  .navbar1 {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }

  .navbar2 {
    display: none;
  }

  .drop_menu {
    display: flex;
    flex-direction: column;
  }
}

/* product  */

.product_space {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.product_container {
  width: 343px;
  height: auto;
  border: solid 1px rgb(175, 175, 175);
  border-radius: 10px;
  box-shadow: 0px 6px 12px -4px #000000;
  padding: 5px;
}

.product_container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.product_info {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
}

.product_info img {
  width: 120px;
  height: 120px;
}

.product_brand, 
.product_title, 
.product_newprice,
.product_usedprice {
  margin-bottom: 0px;
}

.product_brand {
  font-size: 12px;
  font-weight: bold;
  color: #696969;
}

.product_title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.product_newprice {
  font-size: 20px;
  font-weight: bold;
  color: #BF0000;
  /* margin-top: 8px; */
}

.product_newprice span {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.product_usedprice {
  font-size: 14px;
  font-weight: bold;
  color: #696969;
  /* margin-top: 8px; */
}

.product_usedprice span {
  font-size: 20px;
  color: #333;
}

/* other  */

.error_data {
  text-align: center;
  margin-top: 25%;
}